@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#board {
  padding: 35px;
  margin-top: 120px;
  display: flex;
  width: 370px;
  flex-wrap: wrap;
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.square {
  font-family: "Gloria Hallelujah", cursive;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  font-size: 50px;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

#game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#header {
  margin-top: 50px;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 35px;
  padding: 15px;
  font-weight: bolder;
}

.square:nth-child(7),
.square:nth-child(8),
.square:nth-child(9) {
  border-bottom: 0;
}

.square:nth-child(1),
.square:nth-child(2),
.square:nth-child(3) {
  border-top: 0;
}

.square:nth-child(3n + 1) {
  border-left: 0;
}

.square:nth-child(3n) {
  border-right: 0;
}

#result {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 25px;
  color: goldenrod;
}

.newGame {
  margin-top: 35px;
  border: 2px solid goldenrod;
  border-radius: 10%;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 15px;
  padding: 10px;
  font-weight: 900;
}

.newGame:hover {
  color: white;
  background-color: goldenrod;
}
